html {
  box-sizing: border-box;
  height: 100%;
  display: flex;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
